*{
  margin: 0;
  padding: 0;
}
:root {
  background-color: #242424;

}

.background{
display: flex;
font-size: 30px;
background-color: bisque;
color: black;
justify-content: space-evenly;
width: 100%;
height: 40px;
}